#### Importing the necessary data from the train set using pandas

In [3]:
import pandas as pd

test_data = pd.read_csv('test.csv')
test_data = test_data.where(pd.notnull(test_data), other=None)

train_data = pd.read_csv('train.csv')
train_data = train_data.where(pd.notnull(train_data), other=None)
#print(test_data)

     PassengerId  Pclass                                               Name  \
0            892       3                                   Kelly, Mr. James
1            893       3                   Wilkes, Mrs. James (Ellen Needs)
2            894       2                          Myles, Mr. Thomas Francis
3            895       3                                   Wirz, Mr. Albert
4            896       3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5            897       3                         Svensson, Mr. Johan Cervin
6            898       3                               Connolly, Miss. Kate
7            899       2                       Caldwell, Mr. Albert Francis
8            900       3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
9            901       3                            Davies, Mr. John Samuel
10           902       3                                   Ilieff, Mr. Ylio
11           903       1                         Jones, Mr. Charles Cresson
12           904       1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
13           905       2                               Howard, Mr. Benjamin
14           906       1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
15           907       2      del Carlo, Mrs. Sebastiano (Argenia Genovesi)
16           908       2                                  Keane, Mr. Daniel
17           909       3                                  Assaf, Mr. Gerios
18           910       3                       Ilmakangas, Miss. Ida Livija
19           911       3              Assaf Khalil, Mrs. Mariana (Miriam")"
20           912       1                             Rothschild, Mr. Martin
21           913       3                          Olsen, Master. Artur Karl
22           914       1               Flegenheim, Mrs. Alfred (Antoinette)
23           915       1                    Williams, Mr. Richard Norris II
24           916       1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
25           917       3                            Robins, Mr. Alexander A
26           918       1                       Ostby, Miss. Helene Ragnhild
27           919       3                                  Daher, Mr. Shedid
28           920       1                            Brady, Mr. John Bertram
29           921       3                                  Samaan, Mr. Elias
..           ...     ...                                                ...
388         1280       3                               Canavan, Mr. Patrick
389         1281       3                        Palsson, Master. Paul Folke
390         1282       1                         Payne, Mr. Vivian Ponsonby
391         1283       1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)
392         1284       3                      Abbott, Master. Eugene Joseph
393         1285       2                               Gilbert, Mr. William
394         1286       3                           Kink-Heilmann, Mr. Anton
395         1287       1     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
396         1288       3                               Colbert, Mr. Patrick
397         1289       1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
398         1290       3                     Larsson-Rondberg, Mr. Edvard A
399         1291       3                           Conlon, Mr. Thomas Henry
400         1292       1                            Bonnell, Miss. Caroline
401         1293       2                                    Gale, Mr. Harry
402         1294       1                     Gibson, Miss. Dorothy Winifred
403         1295       1                             Carrau, Mr. Jose Pedro
404         1296       1                       Frauenthal, Mr. Isaac Gerald
405         1297       2       Nourney, Mr. Alfred (Baron von Drachstedt")"
406         1298       2                          Ware, Mr. William Jeffery
407         1299       1                         Widener, Mr. George Dunton
408         1300       3                    Riordan, Miss. Johanna Hannah""
409         1301       3                          Peacock, Miss. Treasteall
410         1302       3                             Naughton, Miss. Hannah
411         1303       1    Minahan, Mrs. William Edward (Lillian E Thorpe)
412         1304       3                     Henriksson, Miss. Jenny Lovisa
413         1305       3                                 Spector, Mr. Woolf
414         1306       1                       Oliva y Ocana, Dona. Fermina
415         1307       3                       Saether, Mr. Simon Sivertsen
416         1308       3                                Ware, Mr. Frederick
417         1309       3                           Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket     Fare            Cabin  \
0      male  34.5      0      0              330911   7.8292             None
1    female    47      1      0              363272        7             None
2      male    62      0      0              240276   9.6875             None
3      male    27      0      0              315154   8.6625             None
4    female    22      1      1             3101298  12.2875             None
5      male    14      0      0                7538    9.225             None
6    female    30      0      0              330972   7.6292             None
7      male    26      1      1              248738       29             None
8    female    18      0      0                2657   7.2292             None
9      male    21      2      0           A/4 48871    24.15             None
10     male  None      0      0              349220   7.8958             None
11     male    46      0      0                 694       26             None
12   female    23      1      0               21228  82.2667              B45
13     male    63      1      0               24065       26             None
14   female    47      1      0         W.E.P. 5734   61.175              E31
15   female    24      1      0       SC/PARIS 2167  27.7208             None
16     male    35      0      0              233734    12.35             None
17     male    21      0      0                2692    7.225             None
18   female    27      1      0    STON/O2. 3101270    7.925             None
19   female    45      0      0                2696    7.225             None
20     male    55      1      0            PC 17603     59.4             None
21     male     9      0      1             C 17368   3.1708             None
22   female  None      0      0            PC 17598  31.6833             None
23     male    21      0      1            PC 17597  61.3792             None
24   female    48      1      3            PC 17608  262.375  B57 B59 B63 B66
25     male    50      1      0           A/5. 3337     14.5             None
26   female    22      0      1              113509  61.9792              B36
27     male  22.5      0      0                2698    7.225             None
28     male    41      0      0              113054     30.5              A21
29     male  None      2      0                2662  21.6792             None
..      ...   ...    ...    ...                 ...      ...              ...
388    male    21      0      0              364858     7.75             None
389    male     6      3      1              349909   21.075             None
390    male    23      0      0               12749     93.5              B24
391  female    51      0      1            PC 17592     39.4              D28
392    male    13      0      2           C.A. 2673    20.25             None
393    male    47      0      0          C.A. 30769     10.5             None
394    male    29      3      1              315153   22.025             None
395  female    18      1      0               13695       60              C31
396    male    24      0      0              371109     7.25             None
397  female    48      1      1               13567     79.2              B41
398    male    22      0      0              347065    7.775             None
399    male    31      0      0               21332   7.7333             None
400  female    30      0      0               36928  164.867               C7
401    male    38      1      0               28664       21             None
402  female    22      0      1              112378     59.4             None
403    male    17      0      0              113059     47.1             None
404    male    43      1      0               17765  27.7208              D40
405    male    20      0      0       SC/PARIS 2166  13.8625              D38
406    male    23      1      0               28666     10.5             None
407    male    50      1      1              113503    211.5              C80
408  female  None      0      0              334915   7.7208             None
409  female     3      1      1  SOTON/O.Q. 3101315   13.775             None
410  female  None      0      0              365237     7.75             None
411  female    37      1      0               19928       90              C78
412  female    28      0      0              347086    7.775             None
413    male  None      0      0           A.5. 3236     8.05             None
414  female    39      0      0            PC 17758    108.9             C105
415    male  38.5      0      0  SOTON/O.Q. 3101262     7.25             None
416    male  None      0      0              359309     8.05             None
417    male  None      1      1                2668  22.3583             None

    Embarked
0          Q
1          S
2          Q
3          S
4          S
5          S
6          Q
7          S
8          C
9          S
10         S
11         S
12         S
13         S
14         S
15         C
16         Q
17         C
18         S
19         C
20         C
21         S
22         S
23         C
24         C
25         S
26         C
27         C
28         S
29         C
..       ...
388        Q
389        S
390        S
391        S
392        S
393        S
394        S
395        S
396        Q
397        C
398        S
399        Q
400        S
401        S
402        C
403        S
404        C
405        C
406        S
407        C
408        Q
409        S
410        Q
411        Q
412        S
413        S
414        C
415        S
416        S
417        C

[418 rows x 11 columns]